PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
requests==2.31.0
urllib3==2.1.0
beautifulsoup4==4.12.2
lxml==4.9.3
dnspython==2.4.2
pyjwt==2.8.1
websocket-client==1.6.4
reportlab==4.0.7
Jinja2==3.1.2
defusedxml==0.0.1
